# General

.DS_Store

# dependency directories

npm-debug.log
node_modules
jspm_packages

# ide

nbproject
.idea

# Coverage directory used by tools like istanbul
coverage

# Build and tmp folders for production
build/
.tmp/
