<h1>Welcome</h1>
<p style="text-align:center;"><img src="./assets/img/logo.png"/></p>
<p>This doc was generated from {{projectName}} source code with yuidoc. <a href="./modules/src_app.html" title="src/app module">Start here</a>.</p>
<p>
  This is only the generated doc for the basic ES6 app I developed for ES6/JSPM boilerplate.<br>
  You'll want to refer to the github repo to find out about the whole workflow.
</p>
<p style="font-size:150%;">Checkout <a href="https://github.com/topheman/vanilla-es6-jspm" title="topheman/vanilla-es6-jspm on github">topheman/vanilla-es6-jspm</a> on github (README, FAQ, Wiki).</p>
<p><i>Note:</i> If you have a better solution than YUIDoc for generating docs on ES6 code base, please let me know!</p>
