<h1>Welcome</h1>
<p style="text-align:center;"><img src="./assets/img/logo.png"/></p>
<p>This doc was generated from {{projectName}} source code with yuidoc.</p>
<p>You can find the source code, a README, a Wiki and a FAQ on the github repo : <a href="https://github.com/topheman/vanilla-es6-jspm" title="topheman/vanilla-es6-jspm on github">topheman/vanilla-es6-jspm</a></p>
