@media only screen and (max-width: $grid-float-breakpoint) {
  .index-page .jumbotron img.pull-right {
    width: 25%;
    margin-top: $grid-gutter-width/2; //pading between columns divided by half
    //display: block;
    //float: none !important;
    //margin: 0 auto;
  }
  .index-page .jumbotron ul {
    padding-left: 20px;
  }
}

.index-page .jumbotron {
  @media screen and (max-width: $grid-float-breakpoint) {
    padding-top: ($jumbotron-padding * 0);
    padding-bottom: ($jumbotron-padding * 0);

    h1,
    .h1 {
      font-size: $jumbotron-heading-font-size*0.5;
    }
  }
}
